<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{assets/bootstrap-select-1.13.9/dist/js/bootstrap-select.js}"></script>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
</head>

<body>
<div class="wrapper">
    <nav>
        <div th:replace="~{menu :: menu(addEmployee)}">
        </div>
    </nav>
    <div class="content">
        <h2>Добавить нового сотрудника</h2>
        <br>
        <form th:action="@{/add}" th:object="${employee}" method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="lastName">Фамилия</label>
                <div class="col-sm-10">
                    <input th:field="*{lastName}" type="text" class="form-control" id="lastName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">Имя</label>
                <div class="col-sm-10">
                    <input th:field="*{firstName}" type="text" class="form-control" id="firstName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="middleName">Отчество</label>
                <div class="col-sm-10">
                    <input th:field="*{middleName}" type="text" class="form-control" id="middleName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="departments">Департамент</label>
                <div class="col-sm-10">
                    <select th:field="*{departmentId}" class="form-control" id="departments" multiple="multiple">
                        <option th:each="department : ${departmentList}"
                                th:value="${department.id}"
                                th:text="${department.name}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="dateOfBirth">Дата рождения</label>
                <div class="col-sm-10">
                    <input th:field="*{dateOfBirth}" type="date" class="form-control" id="dateOfBirth">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="salary">Зарплата</label>
                <div class="col-sm-10">
                    <input th:field="*{salary}" type="number" class="form-control" id="salary" data-decimals="2" min="0" step="0.1">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Добавить </button>
        </form>
    </div>
</div>
</body>
</html>